.all{
display: flex;


}
.center{
  text-align: center;;
}
.text{
  color:black;
}
@media screen and (max-width:497px) {
  .content{
    display: inline-flex;
    margin-top: 10px;
  }
  .all{
    flex-wrap: wrap;
  }
  .content{
    padding: 5px 10px;
  }
  .image{
    width: 90%;
    margin-left: 0px;
  }
  img{
    border-radius: 7px;
    width: 93vw;
    height: 250px;
    object-fit:cover;
  }
}
.content{
  display: inline-flex;
  margin-top: 10px;
}





@media screen and (min-width:497px){
  .image{
    width: 340px;
    margin-left: 4px;
    margin-right: 4px;
  }
  img{
    border-radius: 7px;
    width: 100%;
    height: 250px;
    object-fit:cover;
  }
  

  .all{
    flex-wrap:wrap;
    justify-content: space-around;
  }
 
 
}
p{
 

  text-align: center;
  width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;

 
}




.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: auto;
  width:100%;
  background-color: #fff;
 
 
  border-radius: 10px;
  box-shadow: 0px 15px 25px rgba(255, 255, 255, 0.2);
 
}
.inline{
  display: flex;
  flex-direction: column;
  gap:10px
}

.paragraph {
 width:400px;
  height: 320px;
  border-radius: 8px;
  background: #e5e5e5;
  margin-top: 20px;
  
}
.post_title {
  margin-top: 10px;
  background: #e5e5e5;
  width: 50%;
  height: 30px;
  float: right;
  border-radius: 8px;
  margin-right: 45px;
  margin-top: 5px;
}

.card * {
  background: linear-gradient(
    120deg,
    #e5e5e5 30%,
    #f0f0f0 38%,
    #f0f0f0 40%,
    #e5e5e5 48%
  );
  background-size: 200% 100%;
  background-position: 100% 0;
  animation: run 2s infinite;
}

@keyframes run {
  100% {
    background-position: -100% 0;
  }
}

